<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>UserRegistration</display-name>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServletController</display-name>
    <servlet-name>RegisterServletController</servlet-name>
    <servlet-class>com.rca.app.RegisterServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServletController</servlet-name>
    <url-pattern>/RegisterServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletController</display-name>
    <servlet-name>LoginServletController</servlet-name>
    <servlet-class>com.rca.app.LoginServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletController</servlet-name>
    <url-pattern>/LoginServletController</url-pattern>
  </servlet-mapping>
</web-app>