<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SchoolManagement</display-name>
  <welcome-file-list>
    <welcome-file>Users</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>student.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>authentication.Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>authentication.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>Users.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilters</display-name>
    <filter-name>AuthenticationFilters</filter-name>
    <filter-class>authentication.filters.AuthenticationFilters</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilters</filter-name>
    <url-pattern>/</url-pattern>
    <url-pattern>/User</url-pattern>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudent</display-name>
    <servlet-name>EditStudent</servlet-name>
    <servlet-class>student.EditStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudent</servlet-name>
    <url-pattern>/EditStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>authentication.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>